#header{
    color:#fff;
    background-color: #ff4c68;
}
.ml-auto{
    margin-left: auto;
    
    
}
.nav-link{
    margin-right: 50px;
}

.home-div{
color:#fff;
text-align: center;
padding: 10%;
}
.limage{
    object-fit: cover;
    margin-left: 200px;
    width: auto;
    height: 300px;
    text-align: center;
}
h1{
    margin-bottom: 100px;;
}
/*Drum set*/
.play-music{
    text-align: center;
    padding-top: 10%;
}
.set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
 
  #body h2{
      text-align: center;
      margin-top:100px;
  }

  #footer{
      margin-top:100px;
     background-color:#ff4c68;
    padding: 7% 15%;
    text-align:center;
  
  }